.stats{

    width:100%;

    padding:90px 8%;

    background:#111827;

    color:white;

    text-align:center;
}

.stats h2{

    font-size:2.5rem;

    margin-bottom:15px;
}

.stats-subtitle{

    color:#CBD5E1;

    margin-bottom:60px;

    font-size:18px;
}

.stats-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;
}

.stats-box{

    background:#1E293B;

    padding:40px;

    border-radius:20px;

    transition:.3s;
}

.stats-box:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(124,58,237,.25);
}

.stats-icon{

    color:#7C3AED;

    margin-bottom:20px;
}

.stats-box h3{

    font-size:2.3rem;

    margin-bottom:10px;
}

.stats-box p{

    color:#CBD5E1;
}

@media(max-width:900px){

    .stats-grid{

        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){

    .stats-grid{

        grid-template-columns:1fr;
    }
}