.dashhero{

    width:100%;
    min-height:350px;

    background:#0F172A;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:60px 80px;

    color:white;
}

.dashhero-left{

    width:55%;
}

.dashhero-left h1{

    font-size:3rem;

    margin-bottom:20px;
}

.dashhero-left p{

    color:#CBD5E1;

    font-size:18px;

    line-height:1.8;

    margin-bottom:30px;
}

.start-interview-btn{

    padding:15px 35px;

    border:none;

    border-radius:10px;

    background:#7C3AED;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;
}

.start-interview-btn:hover{

    background:#6D28D9;

    transform:translateY(-2px);
}

.dashhero-right{

    width:35%;
}

.goal-card{

    background:#1E293B;

    padding:35px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(124,58,237,.25);
}

.goal-card h3{

    color:#A78BFA;

    margin-bottom:15px;
}

.goal-card h2{

    margin-bottom:15px;

    font-size:28px;
}

.goal-card p{

    color:#CBD5E1;

    line-height:1.7;
}