.stats{
    width:90%;
    margin:100px auto;
}

.stats-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;
}

.stat-card{

    background:#1E293B;

    color:white;

    padding:35px;

    text-align:center;

    border-radius:15px;

    transition:.3s;
}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(124,58,237,.35);
}

.stat-card h2{

    font-size:2.8rem;

    color:#7C3AED;

    margin-bottom:10px;
}

.stat-card p{

    color:#CBD5E1;
}